<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylq.transaction.mapper.IUserMapper">
    <resultMap id="UserMapper" type="com.ylq.transaction.pojo.User">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="password" column="password" />
        <result property="age" column="age" />
    </resultMap>

    <select id="getUsers" resultMap="UserMapper" resultType="com.ylq.transaction.pojo.User">
        select id,name,password,age from t_user;
    </select>
    
    <insert id="insertUsers" parameterType="com.ylq.transaction.pojo.User">
        INSERT INTO t_user (id,name,password,age) VALUES (3,'ylq','123456',29);
    </insert>
</mapper>